.et_pb_section_0,
.et_pb_section_1 {
	padding: 0 !important;
	margin: 0 !important;
	z-index: 99999 !important
}

.et_pb_row_0 {
	padding: 0 !important;
	margin: 0 !important
}

div.et_pb_section.et_pb_section_3 {
	background-image: url(../images/sustainable_shipping_logistics.png) !important
}

div.et_pb_section.et_pb_section_3_home {
	background-image: url(../images/only_leave_your_foot_prints_banner.png) !important
}

div.et_pb_section.et_pb_section_3_home_inner {
	background-image: url(../images/about_us.png) !important
}

div.et_pb_section.cotton_farming {
	background-image: url(../images/regenerative-cotton-farming.png) !important;
    background-position: top;	
}

div.et_pb_section.cotton_farming_inner {
	background: #AFB1B2
}

div.et_pb_section.ethical_manufacturing {
	background-image: url(../images/ethical-manufacturing.png) !important;
	
}

div.et_pb_section.ethical_manufacturing_inner {
	background: #873624
}

div.et_pb_section.recycled_cotton_and_polyester {
	background-image: url(../images/recycled-cotton-fabric.png) !important;
	
}

div.et_pb_section.recycled_cotton_and_polyester_inner {
	background-image: url(../images/recycled-polyester-yarn.png) !important;
}

div.et_pb_section.zero_effluent_discharge_zed_dyeing_process {
	background-image: url(../images/zed-plant.png) !important;
	
}

div.et_pb_section.zero_effluent_discharge_zed_dyeing_process_inner {
	background:#EBB393
}

div.et_pb_section.sustainability_certification {
	background-image: url(../images/sustainable_shipping_logistics.png) !important;
	
}

div.et_pb_section.sustainability_certification_inner {
	background:#EBB393
}

div.et_pb_section.managed_supply_chain_and_transparency {
	background-image: url(../images/managed_supply_chain_transparency.png) !important;
	
}

div.et_pb_section.managed_supply_chain_and_transparency_inner {
	background:#038382
}

div.et_pb_section.retail_and_ecommerce_challenges {
	background-image: url(../images/retail_ecommerce.png) !important;
	
}

div.et_pb_section.retail_and_ecommerce_challenges_inner {
	background:#DFB277
}

div.et_pb_section.financing {
	background-image: url(../images/financing.png) !important;
	
}

div.et_pb_section.financing_inner {
	background:#D3E1EC
}

div.et_pb_section.sustainable_shipping_logistics {
	background-image: url(../images/sustainable_shipping_logistics.png) !important;
	
}

div.et_pb_section.sustainable_shipping_logistics_inner {
	background:#F0E2E2
}

div.et_pb_section.innovation_technology {
	background-image: url(../images/innovation-technology.png) !important;
	
}

div.et_pb_section.innovation_technology_inner {
	background:#FFDFDC
}

div.et_pb_section.about_us {
	background-image: url(../images/about_us.png) !important;
	
}

div.et_pb_section.about_us_inner {
	background:#B89B61
}

.info {
    font-size: 14px;
    color: #873624;
    letter-spacing: 2px;
    padding-left: 5px;
}
#submit_button {
    font-family: 'Avenir LT W01_95 Black_1475562',sans-serif;
    color: #fff;
    background-color: #65bbca;
    margin-right: 0;
    padding: 12px 60px;
    border-radius: 4px;
    border: 1px solid #65bbca;
    transition: opacity .2s ease!important;
}
.et_pb_row_4,
body #page-container .et-db #et-boc .et-l .et_pb_row_4.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_4.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_4.et_pb_row,
.et_pb_row_5,
body #page-container .et-db #et-boc .et-l .et_pb_row_5.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_5.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_5.et_pb_row,
.et_pb_row_7,
body #page-container .et-db #et-boc .et-l .et_pb_row_7.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_7.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_7.et_pb_row,
.et_pb_row_9,
body #page-container .et-db #et-boc .et-l .et_pb_row_9.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_9.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_9.et_pb_row,
.et_pb_row_14,
body #page-container .et-db #et-boc .et-l .et_pb_row_14.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_14.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_14.et_pb_row {
	width: 88%;
	max-width: 88%
}

body #page-container .et_pb_section .et_pb_button_0:hover:after,
body #page-container .et_pb_section .et_pb_button_1:hover:after,
body #page-container .et_pb_section .et_pb_button_2:hover:after,
body #page-container .et_pb_section .et_pb_button_3:hover:after {
	margin-left: .3em;
	left: auto;
	margin-left: .3em;
	opacity: 1
}

body #page-container .et_pb_section .et_pb_button_0:after,
body #page-container .et_pb_section .et_pb_button_1:after,
body #page-container .et_pb_section .et_pb_button_2:after,
body #page-container .et_pb_section .et_pb_button_3:after {
	line-height: inherit;
	font-size: inherit !important;
	margin-left: -1em;
	left: auto;
	font-family: ETmodules !important;
	font-weight: 400 !important
}

.et_pb_button_0,
.et_pb_button_0:after,
.et_pb_button_1,
.et_pb_button_1:after,
.et_pb_button_2,
.et_pb_button_2:after,
.et_pb_button_3,
.et_pb_button_3:after {
	transition: all 300ms ease 0ms
}

.et_pb_section_4,
.et_pb_section_7 {
	padding: 0
}

.et_pb_code_5 {
	color: #fff
}

.et_pb_row_11 {
	padding: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important
}

.et_pb_section_8,
.et_pb_row_12 {
	padding: 0 !important
}

div.et_pb_section.et_pb_section_9 {
	background-image: url(../images/financing.png) !important
}

@media only screen and (max-width:980px) {

	body #page-container .et_pb_section .et_pb_button_0:after,
	body #page-container .et_pb_section .et_pb_button_1:after,
	body #page-container .et_pb_section .et_pb_button_2:after,
	body #page-container .et_pb_section .et_pb_button_3:after {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1em;
		left: auto;
		display: inline-block;
		opacity: 0;
		content: attr(data-icon);
		font-family: ETmodules !important;
		font-weight: 400 !important
	}

	body #page-container .et_pb_section .et_pb_button_0:before,
	body #page-container .et_pb_section .et_pb_button_1:before,
	body #page-container .et_pb_section .et_pb_button_2:before,
	body #page-container .et_pb_section .et_pb_button_3:before {
		display: none
	}

	body #page-container .et_pb_section .et_pb_button_0:hover:after,
	body #page-container .et_pb_section .et_pb_button_1:hover:after,
	body #page-container .et_pb_section .et_pb_button_2:hover:after,
	body #page-container .et_pb_section .et_pb_button_3:hover:after {
		margin-left: .3em;
		left: auto;
		margin-left: .3em;
		opacity: 1
	}
}

@media only screen and (max-width:767px) {

	body #page-container .et_pb_section .et_pb_button_0:after,
	body #page-container .et_pb_section .et_pb_button_1:after,
	body #page-container .et_pb_section .et_pb_button_2:after,
	body #page-container .et_pb_section .et_pb_button_3:after {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1em;
		left: auto;
		display: inline-block;
		opacity: 0;
		content: attr(data-icon);
		font-family: ETmodules !important;
		font-weight: 400 !important
	}

	body #page-container .et_pb_section .et_pb_button_0:before,
	body #page-container .et_pb_section .et_pb_button_1:before,
	body #page-container .et_pb_section .et_pb_button_2:before,
	body #page-container .et_pb_section .et_pb_button_3:before {
		display: none
	}

	body #page-container .et_pb_section .et_pb_button_0:hover:after,
	body #page-container .et_pb_section .et_pb_button_1:hover:after,
	body #page-container .et_pb_section .et_pb_button_2:hover:after,
	body #page-container .et_pb_section .et_pb_button_3:hover:after {
		margin-left: .3em;
		left: auto;
		margin-left: .3em;
		opacity: 1
	}
}