.et_pb_section_0,
.et_pb_section_1 {
	padding: 0 !important;
	margin: 0 !important;
	z-index: 99999 !important
}

.et_pb_row_0 {
	padding: 0 !important;
	margin: 0 !important
}

div.et_pb_section.et_pb_section_3 {
	background-image: url(../images/sustainable_shipping_logistics.png) !important
}

div.et_pb_section.et_pb_section_3_home {
	background-image: url(../images/only_leave_your_foot_prints_banner.png) !important
}

div.et_pb_section.et_pb_section_3_home_inner {
	background-image: url(../images/about_us.png) !important
}

div.et_pb_section.et_pb_section_cotton_farming {
	background-image: url(../images/regenerative-cotton-farming.png) !important;
    background-position: top;	
}

div.et_pb_section.et_pb_section_cotton_farming_inner {
	background: #AFB1B2
}

.et_pb_row_4,
body #page-container .et-db #et-boc .et-l .et_pb_row_4.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_4.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_4.et_pb_row,
.et_pb_row_5,
body #page-container .et-db #et-boc .et-l .et_pb_row_5.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_5.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_5.et_pb_row,
.et_pb_row_7,
body #page-container .et-db #et-boc .et-l .et_pb_row_7.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_7.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_7.et_pb_row,
.et_pb_row_9,
body #page-container .et-db #et-boc .et-l .et_pb_row_9.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_9.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_9.et_pb_row,
.et_pb_row_14,
body #page-container .et-db #et-boc .et-l .et_pb_row_14.et_pb_row,
body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_14.et_pb_row,
body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_14.et_pb_row {
	width: 88%;
	max-width: 88%
}

body #page-container .et_pb_section .et_pb_button_0:hover:after,
body #page-container .et_pb_section .et_pb_button_1:hover:after,
body #page-container .et_pb_section .et_pb_button_2:hover:after,
body #page-container .et_pb_section .et_pb_button_3:hover:after {
	margin-left: .3em;
	left: auto;
	margin-left: .3em;
	opacity: 1
}

body #page-container .et_pb_section .et_pb_button_0:after,
body #page-container .et_pb_section .et_pb_button_1:after,
body #page-container .et_pb_section .et_pb_button_2:after,
body #page-container .et_pb_section .et_pb_button_3:after {
	line-height: inherit;
	font-size: inherit !important;
	margin-left: -1em;
	left: auto;
	font-family: ETmodules !important;
	font-weight: 400 !important
}

.et_pb_button_0,
.et_pb_button_0:after,
.et_pb_button_1,
.et_pb_button_1:after,
.et_pb_button_2,
.et_pb_button_2:after,
.et_pb_button_3,
.et_pb_button_3:after {
	transition: all 300ms ease 0ms
}

.et_pb_section_4,
.et_pb_section_7 {
	padding: 0
}

.et_pb_code_5 {
	color: #fff
}

.et_pb_row_11 {
	padding: 0 !important;
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important
}

.et_pb_section_8,
.et_pb_row_12 {
	padding: 0 !important
}

div.et_pb_section.et_pb_section_9 {
	background-image: url(../images/financing.png) !important
}

@media only screen and (max-width:980px) {

	body #page-container .et_pb_section .et_pb_button_0:after,
	body #page-container .et_pb_section .et_pb_button_1:after,
	body #page-container .et_pb_section .et_pb_button_2:after,
	body #page-container .et_pb_section .et_pb_button_3:after {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1em;
		left: auto;
		display: inline-block;
		opacity: 0;
		content: attr(data-icon);
		font-family: ETmodules !important;
		font-weight: 400 !important
	}

	body #page-container .et_pb_section .et_pb_button_0:before,
	body #page-container .et_pb_section .et_pb_button_1:before,
	body #page-container .et_pb_section .et_pb_button_2:before,
	body #page-container .et_pb_section .et_pb_button_3:before {
		display: none
	}

	body #page-container .et_pb_section .et_pb_button_0:hover:after,
	body #page-container .et_pb_section .et_pb_button_1:hover:after,
	body #page-container .et_pb_section .et_pb_button_2:hover:after,
	body #page-container .et_pb_section .et_pb_button_3:hover:after {
		margin-left: .3em;
		left: auto;
		margin-left: .3em;
		opacity: 1
	}
}

@media only screen and (max-width:767px) {

	body #page-container .et_pb_section .et_pb_button_0:after,
	body #page-container .et_pb_section .et_pb_button_1:after,
	body #page-container .et_pb_section .et_pb_button_2:after,
	body #page-container .et_pb_section .et_pb_button_3:after {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1em;
		left: auto;
		display: inline-block;
		opacity: 0;
		content: attr(data-icon);
		font-family: ETmodules !important;
		font-weight: 400 !important
	}

	body #page-container .et_pb_section .et_pb_button_0:before,
	body #page-container .et_pb_section .et_pb_button_1:before,
	body #page-container .et_pb_section .et_pb_button_2:before,
	body #page-container .et_pb_section .et_pb_button_3:before {
		display: none
	}

	body #page-container .et_pb_section .et_pb_button_0:hover:after,
	body #page-container .et_pb_section .et_pb_button_1:hover:after,
	body #page-container .et_pb_section .et_pb_button_2:hover:after,
	body #page-container .et_pb_section .et_pb_button_3:hover:after {
		margin-left: .3em;
		left: auto;
		margin-left: .3em;
		opacity: 1
	}
}